BOT_TOKEN=YOUR_BOT_TOKEN_HERE
N8N_WEBHOOK_URL=http://your-n8n-instance.com/webhook/discord
ALLOWED_CHANNEL_ID=your_channel_id_here
Drive_TOKEN= 1087011655032-fitbmjndd573dqnlk47ot6idrrv07ttf.apps.googleusercontent.com
